// If you want to override variables do it here



$primary-base: #3a7cce;
$primary-100:  #3a7cce;
$primary-200:  #3a7cce;
$primary-300:  #3a7cce;
$primary-400:  #3a7cce;
$primary-500:  #3a7cce;
$primary-600:  #3a7cce;
$primary-700:  #3a7cce;
$primary-800:  #3a7cce;
$primary-900:  #3a7cce;
$primary-dark: #3a7cce;
$primary:      #3a7cce;
$primary-50:   #3a7cce;
$primary-25:   #3a7cce;


@import "variables";
// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.c-avatar-img  {
  border: 1px solid #dcdcdc;
}


.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}